 h1 {
    text-align: center;
    font-size: 2.5em;
    color: #e88e06;
    margin-bottom: 20px;
    font-style: italic;
 }

 body {
    background-color: antiquewhite;
    color: #131211;
    
 }

 p {
    text-align: center;
    font-size: 1.5em;
    color: #131211;
    margin-bottom: 20px;
 }

 header {
    background-color: #f0340e;
    color: rgb(247, 243, 243);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
 }

 footer {
    background-color: #f0340e;
    color: rgb(247, 243, 243);
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
 }